.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-color: #21212b;
}



 @media (min-width: 600px) {

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #21212b;
  }
  

} 